


# --- Carpetas de NetBeans ---
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# --- Maven y Gradle ---
/target/
/build/
/out/

# --- Archivos compilados ---
*.class

# --- Archivos temporales ---
*.log
*.tmp
*.bak
*.swp
*~

# --- Archivos del sistema ---
.DS_Store
Thumbs.db
